/* light.css */

body {
  background-color: #ededed;
  color: black;
}

.talk-bubble {
    background: white;
    color: black;
}

.talk-bubble:after {
    border-top-color: #888888;
}

pre {
    color: black;
}

hr.mode {
    border: 1px solid #c2c2c2;
} 