<!-- analytics.html -->

{% extends "base.html" %}

{% block content %}
<h1>Analytics</h1>
<p>This is our analytics page.</p>

<!-- Charts section -->
<h2>Chores</h2>
<b>For each chore, which people are best suited for it?</b>
<div id="chartsContainer">
    <p>{{ rankings }}</p>
</div>
<!-- Graphs section -->
<h2>Persons</h2>
<div id="graphsContainer"></div>
<ol>
    {% for person in persons: %}
    <li>{{ person }}</li>
    {% endfor %}
</ol>

<!-- Text Summaries section -->
<h2>Tasks</h2>
<div id="textSummariesContainer"></div>
<ol>
    {% for task in tasks: %}
    <li>{{ task }}</li>
    {% endfor %}
</ol>

<h2>Task Scores</h2>
<ul>
    {% for task_score in task_scores: %}
    <li>{{ task_score }}</li>
    {% endfor %}
</ul>
{% endblock %}
