<!-- survey.html -->

{% extends "base.html" %}

{% set importance_options = [("", ""), ("not_important", "Not Important"), ("somewhat_important", "Somewhat Important"), ("important", "Important"), ("very_important", "Very Important")] %}

{% block content %}
  <h1>Survey</h1>
  <p>This is our survey page.</p>
<div class="container mt-5">
  <h2>Household Chores Survey</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" required {% if DEBUG_FORM %} value="{{ random_name }}" {% endif %}>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Chore</th>
          <th>Importance</th>
          <th>Competence</th>
          <th>Comfort</th>
        </tr>
      </thead>
      <tbody>
        {% for chore in chores %}
        <tr>
          <td>{{ chore }}</td>
          <td>
              <select class="form-control" required {% if DEBUG_FORM %} value="{{ random_importance[loop.index0] }}" {% else %} value="" {% endif %}>
                  {% for value, label in importance_options %}
                  <option value="{{ value }}" {% if value == random_importance[loop.index0] %}selected{% endif %} {% if not value %}disabled hidden{% endif %}>{{ label }}</option>
                  {% endfor %}
              </select>

          </td>
          <td>
            <select class="form-control" required>
              <option value="" disabled selected hidden> </option>
              <option value="cant_do_it">I can't do it</option>
              <option value="need_help">I can do it with help</option>
              <option value="can_do_it_easily">I can do it with ease</option>
            </select>
          </td>
          <td>
            <select class="form-control" required>
              <option value="" disabled selected hidden> </option>
              <option value="hate_it">I hate it</option>
              <option value="dont_like_it">I don't like it</option>
              <option value="neutral">I'm neutral</option>
              <option value="like_it">I like it</option>
              <option value="love_it">I love it</option>
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}

